
  body {
    background-image: url("../img/burger.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
}


h1 {
  font-family: 'Knewave', cursive;
  font-weight: bold;
	color: white;
}

h4 {
  font-family: 'knewave', cursive;
  font-weight: bold;
  color:white;
}

.red_font {
  font-family: 'knewave', cursive;
  font-weight: bold;
  color:white;
}